<%- include ("../partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelpcamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%=Camp.image%>" style="height: 400px;">
                <div class="caption-full">
                    <h4 style="float: right;">$9.00/night</h4>
                    <h4><a><%=Camp.name%></a></h4>
                    <p><%=Camp.description%></p> 
                    <p><em>Created by : <%=Camp.author.username%></em></p>
                    <% if(currentUser && Camp.author.id.equals(currentUser._id)){ %>
                    <a class="btn btn-warning" href="/campground/<%=Camp._id%>/edit">Edit</a>
                    <form style="display: inline;" action="/campground/<%=Camp._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                <%}%>
                </div>
            </div><br>
            <div class="img-thumbnail">
                <div class="text-right">
                    <a class="btn btn-success" href="/campground/<%=Camp._id%>/comments/new">Add a new comment</a>
                </div>
                <hr>
                <% Camp.comments.forEach(function(comment){%>
                <div class="row">
                    <div class="col-md-12">
                            <h6 style="float: right;">10 days ago</h6>
                            <h6><b><%=comment.author.username%></b></h6>
                            <p><%=comment.text%></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
                            <a class="btn btn-xs btn-warning" href="/campground/<%=Camp._id%>/comments/<%=comment._id%>/edit">Edit</a>
                            <form action="/campground/<%=Camp._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST" style="display: inline;">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include ("../partials/footer.ejs") %>